[run]
source_pkgs = hummingbot
omit =  hummingbot/connector/connector/balancer*
        hummingbot/connector/connector/terra*
        hummingbot/connector/connector/uniswap*
        hummingbot/connector/connector/uniswap_v3*
        hummingbot/connector/derivative/binance_perpetual*
        hummingbot/connector/derivative/dydx_perpetual*
        hummingbot/connector/derivative/perpetual_finance*
        hummingbot/connector/derivative/position.py*
        hummingbot/connector/exchange/ascend_ex*
        hummingbot/connector/exchange/bamboo_relay*
        hummingbot/connector/exchange/beaxy*
        hummingbot/connector/exchange/binance*
        hummingbot/connector/exchange/bitfinex*
        hummingbot/connector/exchange/bittrex*
        hummingbot/connector/exchange/blocktane*
        hummingbot/connector/exchange/coinbase_pro*
        hummingbot/connector/exchange/coinzoom*
        hummingbot/connector/exchange/crypto_com*
        hummingbot/connector/exchange/digifinex*
        hummingbot/connector/exchange/dolomite*
        hummingbot/connector/exchange/dydx*
        hummingbot/connector/exchange/eterbase*
        hummingbot/connector/exchange/ftx*
        hummingbot/connector/exchange/gate_io*
        hummingbot/connector/exchange/hitbtc*
        hummingbot/connector/exchange/huobi*
        hummingbot/connector/exchange/k2*
        hummingbot/connector/exchange/kraken*
        hummingbot/connector/exchange/kucoin*
        hummingbot/connector/exchange/liquid*
        hummingbot/connector/exchange/loopring*
        hummingbot/connector/exchange/okex*
        hummingbot/connector/exchange/paper_trade*
        hummingbot/connector/exchange/probit*
        hummingbot/connector/exchange/radar_relay*
dynamic_context = test_function
branch = true

[report]
fail_under = 42
precision = 2
skip_empty = true

[html]
directory = coverage_html_report
show_contexts = true

[xml]
output = coverage.xml
