/data
/logs
/build
/dist
/.git
/.github
/.env
/.env.*
!/.env.example
.DS_Store
/conf_backup
/conf/strategies/*.yml
/conf/*.yml
/conf/gateway_connections.json
/conf/.password_verification
/conf/connectors/*.yml
