[flake8]
filename = *.py, *.pyx, *.pxd
ignore = E251, E501,E702,W504,W503
per-file-ignores =
    hummingbot/**/*.pyx: E225, E226, E251, E999
    hummingbot/**/*.pxd: E225, E226, E251, E999
max-line-length = 120
