# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# .idea
/.idea

# CMake
cmake-build-debug/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

__pycache__
.ipynb_checkpoints
.pyc

# Cython objects
/**/*.so
/**/*.pyd
/wings/*.c
/wings/*.cpp
/wings/model/*.c
/wings/model/*.cpp
/wings/model/**/*.c
/wings/model/**/*.cpp
/wings/strategy/*.c
/wings/strategy/*.cpp
/wings/strategy/**/*.c
/wings/strategy/**/*.cpp
/wings/orderbook/*.c
/wings/orderbook/*.cpp
/wings/market/*.c
/wings/market/*.cpp
/wings/wallet/*.c
/wings/wallet/*.cpp
/wings/tracker/*.c
/wings/tracker/*.cpp
/hummingbot/**/*.c
/hummingbot/**/*.cpp
/build

# Local files
**/.DS_Store
portfolio_value.csv
/notebooks
/data/cache/
debug.log

# Distribution files
/build
/dist
/src
/*.egg-info
*.whl

# VSCode
.vscode/

# Documentation build dir
/documentation/site/
