Cython==0.29.21
numpy==1.19.1
cachetools==4.1.1
ruamel.yaml==0.16.10
eth-account==0.5.2
aioconsole==0.2.1
aiokafka==0.6.0
SQLAlchemy==1.3.18
binance==0.3
ujson==3.1.0
websockets==8.1
signalr-client-aio==0.0.1.6.2
web3==5.12.0
prompt-toolkit==3.0.5
0x-order-utils==4.0.0
0x-contract-wrappers==2.0.0
eth-bloom==1.0.3
pyperclip==1.8.0
telegram==0.0.1
pyjwt==1.7.1
mypy-extensions==0.4.3
python-telegram-bot==12.8
python-binance==0.7.5
pandas==1.1.0
aiohttp==3.7.4
bitstring==3.1.7
pyblake2==1.1.2
pysha3==1.0.2
psutil==5.7.2
ethsnarks-loopring==0.1.5
dydx-python==0.11.2
dydx-v3-python==1.0.10
rsa==4.7.2
simplejson==3.16.0
