name: Docker Build Latest

on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    steps:
    - name: Check Out Repo 
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: hummingbot/hummingbot:latest
